<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvBFP32svo3Sn_tuOhV3_jutB0FnMRFv4</string>
	<key>GCM_SENDER_ID</key>
	<string>386971559769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moc.phoo-sar</string>
	<key>PROJECT_ID</key>
	<string>phoo-sar</string>
	<key>STORAGE_BUCKET</key>
	<string>phoo-sar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386971559769:ios:5fbc19bbdd467ae0344e48</string>
</dict>
</plist>